<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons>
      <ion-back-button defaultHref="/" color="medium"></ion-back-button>
    </ion-buttons>

    <ion-title ion-text-center>{{ lista.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top:15px;margin-bottom: 20px;">
    <ion-item color="light">
      <ion-label position="floating">Nueva subtarea</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="nombreItem"
        (keyup.enter)="agregarElem()"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="lista.elems.length !== 0">
    <ion-list-header>
      <ion-label><b>Subtareas</b></ion-label>
    </ion-list-header>

    <ion-item-sliding
      class="animated fadeInDown"
      *ngFor="let elem of lista.elems; let i = index"
    >
      <ion-item>
        <ion-checkbox
          [(ngModel)]="elem.completado"
          color="dark"
          slot="start"
          (ionChange)="cambioElem()"
        ></ion-checkbox>
        <ion-label>{{ elem.desc }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="borrar(i)" color="danger">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-content> </ion-content>
